@import '../../../variables.scss'; 

.form-control{
    &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
      }
}

.form-error{
    border-color: red;
    &:focus{
        border-color: red;
    }
  }

