.task-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: all 0.3s;
    position: relative;
    background-color: whitesmoke;

    &:hover {
        box-shadow: 0 0 10px gray;

        .close-icon {
            display: block;
        }
        .update-icon {
            display: block;
        }
    }

    .task-details {
        width: 75%;
    }
    .icons{
        width: 60px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 10px;
        top: 10px;

    }

    .close-icon {
        display: none;
        font-size: 15px;
        cursor: pointer;
    }

    .update-icon {
        display: none;
        font-size: 15px;
        cursor: pointer;
    }
}