// all app related colors
$main-color: #000000;
$main-bg: #FAFAFA;
$light-background: #f2ece4;
$light-text: #036;
$dark-background: #6b717f;
$dark-text: #d2e1dd;
$primary: #7367F0;
$lightPrimary: #a29bf8;
$lightbg: #F8F8F8;
$gray: #5E5873;
$lightGray: #6E6B7B;
$lightestGray: #B9B9C3;
$lightsGray: #82868B;
$white: #ffffff;
$gainsboro: gainsboro;
$whitesmoke: whitesmoke;
$lightPrimaryBg: #EEEDFD;
$skyBlue: #00CFE8;
$lightSkyBlueBg: #E0F9FC;
$red: #EA5455;
$lightRedBg: #FCEAEB;
$green: #28C76F;
$lightGreenBg: #E5F8EE;
$tableHeaderGray: #F3F2F7;
$tertiary: #00CFE8;
$lightYellow: #FFF3E8;
$yellow: #FF9F43;
$errorColor:red;


$gap-gutter1: 4px;
